<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.easy_tiffin.Application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.example.easy_tiffin.ui.food_menu_creator_.create_your_menu"
            android:exported="false" />
        <activity
            android:name="com.example.easy_tiffin.ui.food_menu_creator_.Menu_creater"
            android:exported="false" />
        <activity
            android:name="com.example.easy_tiffin.ui.menu.menu_items"
            android:exported="false" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.easy_tiffin.ui.register_business.Register_business"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.stripe_setup.PaymentSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.register.Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.ui.dashboard.Dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.otp.otp_screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.setup_account_.setup_account"
            android:exported="false"
            android:label="@string/title_activity_setup_account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.easy_tiffin.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.mainactivity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.food_menu_creator_.food_menu_creator"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.easy_tiffin.ui.welcome.Welcome_screen"
            android:exported="true"
            android:label="@string/easytiffin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.easy_tiffin.firebase_messaging_service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="preloaded_fonts" -->
        <!-- android:resource="@array/preloaded_fonts" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZMarInlXG_LqfIwq6ffIFEfQQ0tFkhKU" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>